.container {
  display: grid;
  grid-template-columns: 33% 34% 33%;
  grid-template-rows: auto 400px;
  column-gap: 1em;
}

.container div {
  background: #ecf0f1;
  padding: 1em;
}

.container div:hover {
  border: 1px solid #f1c40f;
}